body {
    margin:20px;
    font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
    font-size:12px;

   
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color:  #000001;

    margin:0 auto;
    color:white;
    width:700px;
    height: 100%;
}


#content {
    background:#D4D0BF;
    color:#A4A4A4;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#seed {
	padding: 5px;
    text-align:center;
}

h1 {
    font-size:28px;
    font-weight:normal;
    text-align:center;
}

#content a {
    color: #F2EEEE;
    font-weight:bold;
}

a:link {text-decoration: none; margin-left:auto; margin-right:auto; text-align:center; font-size:14px;}

h2 {
    font-size:18px;
    text-align:center;
}


.box {
    margin-right:10px;
    margin-bottom:40px;
    white-space: nowrap;
    font-size:15px;
}

span {
	margin: 5px;
}

#info {
    margin:20px;
    font-size:18px;
}

.title {
    color:#003366;
}

#footer {
    margin-top:10px;
    padding-bottom:10px;
    text-align:center;
    font-size:12px;
}
button, #sub {
  background: #649000;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
button:hover {

  background: #82BD03;
}

.menuitem{
	border-radius:15px;
	display:inline-block;
	background: #649000;
	width:200px;
	height:30px;
	